<style>
.keyshape {
   /*Box Properties*/
   display:inline-block;
   width:48px;
   height:48px;
   margin: 0px 4px;
   background: #fff;
   border-radius: 4px;
   box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
   /*Text Properties*/
   font: 18px/48px Helvetica, serif;
   text-align: center;
   color: #666;
}

.videowrapper {
  /* border:1px solid grey; */
  /* padding:1em; */
  /* font-size:120%; */
}

.videowrapper-video {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.tab-pane {
  border-left:1px solid #aaa;
  border-right:1px solid #aaa;
  border-bottom:1px solid #aaa;
  padding:1em;
}

.tab-content {
  margin-top: 0;
  padding-top:1em;
}

.nav-tabs {
  margin-bottom: -1em;
  border-bottom: 1px solid #aaa
}


/* override bootstrap */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #fff;
    border: 1px solid #aaa;
    border-bottom-color: transparent;
}

.transcript {
  /* font-size:83.333333333%; */
}
.code-examples {
  /* font-size:83.333333333%; */
}


.main-container {
    max-width: 1200px !important;
    margin-left: auto;
    margin-right: auto;
}

.direction {
  color: green; /* green for "go" and do a thing */
}

</style>
